.app-header{
  position:relative;
  width:100%;
  background-color:#fff;
  .app-header-navbar{
    padding-left:0;
    height:60px;
    z-index:999;
  }
  .app-header-main{
    display:flex;
    align-items:center;
    height:inherit;
    margin:0 auto;
    .ant-form-item{
      margin-bottom:0;
    }
    .app-header-logo{
      display:flex;
      align-items:center;
      width:180px;
      min-width:180px;
      span{
        font-size:24px;
        font-weight:700;
        flex-grow:1;
        color:#3c4248;
      }
    }
    .app-header-nav{
      flex:1;
      margin-left:80px;
    }
    .nav-link.active{
      color:var(--theme-black);
      &::after{
        position:absolute;
        right:0;
        bottom:-20px;
        left:0;
        height:4px;
        background:var(--theme-color);
        content:" ";
      }
    }
    .nav-link{
      margin:0 15px;
      font-size:1.1rem;
      word-spacing:2px;
      text-transform:uppercase;
      letter-spacing:1px;
      color:#8590a6;
      position:relative;
    }
  }
  .app-header-search{
    width:360px;
    margin-right:30px;
    position:relative;
    .search-input{
      outline:none;
      position:relative;
      display:block;
      border:1px solid #ececec;
      padding:5px 25px;
      width:100%;
      border-radius:500px;
      background-color:transparent;
      transition:all .3s ease-out;
    }
    .search-to{
      background-color:var(--theme-color);
      font-size:16px;
      font-weight:700;
      height:35px;
      line-height:35px;
      padding:0;
      position:absolute;
      right:0;
      text-align:center;
      top:0;
      border-radius:0 50% 50% 0;
      width:38px;
      z-index:9;
      color:#fff;
    }
  }
  .app-header-user{
    cursor:pointer;
    a{
      color:#8590a6;
    }
  }
}
.nav{
  display:flex;
  flex-wrap:wrap;
  padding-left:0;
  margin-bottom:0;
  list-style:none;
}
.app-footer{
  width:100%;
  border-top:1px solid #ececec;
  height:76px;
  line-height:76px;
  background-color:#fff;
  .nav{
    display:flex;
    flex-wrap:wrap;
    padding-left:0;
    margin-bottom:0;
    list-style:none;
    a{
      color:#8590a6;
      padding:0 1rem;
    }
  }
}
.app-body{
  min-height:calc(100vh - 201px);
  //&.animate__animated{
  //  animation-duration:0.55s;
  //}
}
.animate__animated{
  --animate-duration:.6s;
}
.showInUp{
  -webkit-animation:showInUp .35s;
  animation:showInUp .35s
}
@-webkit-keyframes showInUp{
  0%{
    opacity:0;
    -webkit-transform:translate3d(0, 50px, 0);
    transform:translate3d(0, 50px, 0)
  }
  to{
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
  }
}
@keyframes showInUp{
  0%{
    opacity:0;
    -webkit-transform:translate3d(0, 50px, 0);
    transform:translate3d(0, 50px, 0)
  }
  to{
    opacity:1;
    -webkit-transform:translate3d(0, 0, 0);
    transform:translate3d(0, 0, 0)
  }
}
.app-sidebar{
  .app-sidenav-item{
    border-radius:10px;
    background-color:#fff;
    box-shadow:0 5px 10px #e8e8e8;
    .sidenav-title{
      position:relative;
      display:flex;
      align-items:center;
      font-size:16px;
      font-weight:500;
      height:45px;
      line-height:45px;
      padding:0 15px;
      color:#999;
      border-bottom:1px solid #e3e3e3;
    }
  }
}
.app-home-container{
  min-height:calc(100vh - 162px);
  .article-item{
    &:hover{
      transform:translateY(-5px);
      box-shadow:0 4px 8px rgba(84, 81, 81, .15);
      z-index:1;
    }
  }
}
.app-article-content{
  .article-item{
    padding:15px 20px;
    border-bottom:1px solid #e5e7eb;
    &:last-child{
      border-bottom:none;
    }
  }
}
//container
.article-item{
  padding:15px 18px;
  transition:all .2s ease-in-out;
  text-decoration:none;
  h1{
    font-size:16px;
    line-height:25px;
    font-weight:700;
    margin:0;
    font-family:CircularStd-Medium, helvetica, sans-serif;
    overflow:hidden;
    text-overflow:ellipsis;
    -webkit-box-orient:vertical;
    display:-webkit-box;
    -webkit-line-clamp:2;
    &:hover{
      color:var(--theme-color);
      z-index:1;
    }
  }
  .article-body{
    padding-top:8px;
    font-size:16px;
    line-height:22px;
    color:#6b7486;
  }
}
.article-footer{
  svg{
    vertical-align:-3px;
    margin-right:3px;
  }
}
.article-footer{
  padding-top:10px;
  .category{
    a{
      color:#9d9d9d;
    }
  }
}
.title-info-list{
  color:#b7b7b7;
  > *{
    margin:0 10px 0 0;
  }
  i{
    color:var(--theme-color);
  }
}
.app-sidenav-article{
  a{
    color:#9ca3af;
    &.router-link-active{
      color:var(--theme-color);
    }
  }
}
.app-page-normal,
.app-page-model{
  min-height:calc(100vh - 185px);
}
.app-user-page-model{
  min-height:calc(100vh - 190px);
  padding:20px;
}
.app-article-container{
  border-radius:10px;
  box-shadow:0 5px 10px #e8e8e8;
  background-color:#fff;
  min-height:calc(100vh - 200px);
}
.app-sidenav-article{
  li{
    position:relative;
    display:block;
    line-height:32px;
    position:relative;
    margin:3px 0;
    counter-increment:nums;
    padding-left:30px;
    &:before{
      width:22px;
      height:22px;
      line-height:22px;
      text-align:center;
      content:counter(nums, decimal);
      position:absolute;
      left:0;
      top:5px;
      color:#fff;
      text-shadow:none;
      border-radius:100%;
      background-color:#edefee;
      text-shadow:0 1px 0 rgba(255, 255, 255, .5);
      font-family:SourceCodeProRegular, Menlo, Monaco, Consolas, "Courier New", monospace, "Helvetica Neue", Arial, sans-serif
    }
    &:first-child{
      &:before{
        background-color:#e24d46
      }
    }
    &:nth-child(2){
      &:before{
        background-color:#2ea7e0
      }
    }
    &:nth-child(3){
      &:before{
        background-color:#6bc30d
      }
    }
  }
}
.sider-items{
  position:relative;
  margin-bottom:20px;
  border-radius:var(--radius-wrap);
  box-shadow:var(--box-shadow);
  background:var(--background);
  &:last-child{
    margin-bottom:0;
  }
  .sider-title{
    position:relative;
    display:-webkit-box;
    display:flex;
    font-size:16px;
    font-weight:500;
    height:45px;
    line-height:45px;
    padding:0 15px;
    color:var(--classF);
    border-bottom:1px solid var(--classC);
    h1{
      font-weight:normal;
      margin:0;
    }
    svg{
      margin-right:7px;
      font-size:20px;
      color:var(--theme);
      vertical-align:-3px;
    }
  }
  .sider-content{
    padding:10px 20px;
  }
}
.badge-tag{
  display:inline-block;
  font-size:.875rem;
  padding:0 .375rem;
  height:1.5rem;
  line-height:1.5rem;
  border-radius:.1875rem;
  background-color:rgba(0, 150, 94, .1);
}
.app-hot-article{
  .sider-content{
    padding:0;
  }
  .link{
    position:relative;
    display:block;
    padding:.8rem 1rem;
    padding-left:55px;
    text-decoration:none;
    border-bottom:1px solid rgba(0, 0, 0, .0625);
    counter-increment:chapter 1;
    &:before{
      position:absolute;
      left:20px;
      content:counter(chapter);
      padding:.35em .65em;
      font-size:.75em;
      font-weight:700;
      line-height:1;
      color:#fff;
      text-align:center;
      white-space:nowrap;
      vertical-align:baseline;
      border-radius:.25rem;
      background-color:#dedede;
    }
    &:nth-child(1){
      &:before{
        background-color:#e04a1d;
      }
    }
    &:nth-child(2){
      &:before{
        background-color:#f88217;
      }
    }
    &:nth-child(3){
      &:before{
        background-color:#ffb916;
      }
    }
  }
}
// hero
.app-page-bg{
  border-radius:10px;
  box-shadow:0 2px 5px #e8e8e8;
  background-color:#fff;
  overflow:hidden;
}
.app-hero-model{
  padding:20px 0;
  .user-list-wrap{
    min-height:calc(100vh - 300px);
  }
  .user-list{
    margin-top:0;
    margin-bottom:0;
    list-style:none;
    overflow:hidden;
  }
  .hero-list-item{
    text-align:center;
    line-height:26px;
    padding-bottom:0.2rem;
  }
}
// article
.article-nav-list{
  font-size:1rem;
  .active{
    background-color:#3e71f6;
    .link{
      color:#fff;
    }
  }
  .link{
    display:block;
    height:38px;
    line-height:38px;
    font-weight:400;
    color:#17233f;
    text-align:center;
    position:relative;
    overflow:hidden;
    margin-bottom:4px;
    border-radius:2px;
    &::after{
      opacity:0;
      right:50%;
      transform:translate(50%, -50%);
      box-sizing:border-box;
      z-index:-1;
      position:absolute;
      top:50%;
      content:"";
      width:0;
      height:0;
      background-color:#3e71f6;
      border-radius:2px;
      overflow:hidden;
    }
    &:hover{
      color:#fff;
      &::after{
        animation:criss-cross-right .4s both ease;
      }
    }
  }
}
@-webkit-keyframes criss-cross-right{
  0%{
    right:-20px;
  }
  100%{
    right:50%;
    width:375px;
    height:375px;
  }
}
@-moz-keyframes criss-cross-right{
  0%{
    right:-20px;
  }
  100%{
    right:50%;
    width:375px;
    height:375px;
  }
}
@keyframes criss-cross-right{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
    right:50%;
    width:100%;
    height:100%;
    border-radius:0;
  }
}
// job
.app-job-model{
}
.app-detail-overview{
  .avatar{
    img{
      width:45px;
      height:45px;
      border-radius:50%;
      margin-right:10px;
      padding:3px;
      -o-object-fit:cover;
      object-fit:cover;
      border:1px solid #ccc;
    }
  }
  .assist{
    i{
      color:#d1d5db;
    }
  }
  .assist > *{
    margin:0 10px 0 0;
  }
}
.assist .fa{
  margin-right:4px;
  font-size:14px;
  position:relative;
  top:-1px;
}
.assist .date svg{
  color:orange;
}
.assist .comment svg{
  color:red;
}
.assist .like svg{
  color:blue;
}
.assist .views svg{
  color:green;
}
.assist .words svg{
  color:orange;
}
.assist .comment b{
  color:red;
}
.assist .like b{
  color:#6b6bbd;
}
.assist .views b{
  color:#6eb26e;
}
.assist .words b{
  color:#bd9456;
}
.app-detail-overview{
  .assist{
    svg{
      vertical-align:-3px;
      margin-right:5px;
    }
  }
  .date{
    display:flex;
    align-items:flex-end;
    flex-flow:column;
    b{
      font-size:22px;
      color:orange;
    }
    i{
      color:#d1d5db;
    }
  }
}
// comment
.comment-list{
  .user-box{
    .time{
      color:#8a919f;
    }
  }
  .action-like{
    margin-left:-10px;
    //visibility:hidden;
  }
  .action-box{
    .active{
      .ant-btn{
        color:#1e80ff;
      }
    }
    .ant-btn{
      color:#8a919f;
    }
  }
  .action-reply{
    margin-right:-10px;
  }
  .sub-comment-wrap{
    &:not(:empty){
      background-color:#f9f9fb;
      padding:1rem;
    }
    .sub-comment-wrap{
      padding:0;
    }
  }
}
.have-comment{
  > .comment-list{
    > .comment-box{
      > .sub-comment-wrap{
        > .comment-list{
          border-bottom:1px solid #e6e6e6;
        }
        > .comment-list{
          &:last-child{
            border-bottom:0;
          }
        }
      }
    }
  }
}
// auth
.app-auth-dialog{
  .ant-modal-body{
    padding:2.5rem 5rem;
  }
  .auth-action{
    .ant-btn{
      &:first-child{
        margin-left:-15px;
      }
      &:last-child{
        margin-right:-15px;
      }
    }
  }
}
.app-overlay-menu{
  width:115px;
  text-align:center;
  margin-top:17px;
  li{
    line-height:26px;
    color:#9ca3af;
    &:hover{
      color:#374151;
    }
  }
  .anticon{
    vertical-align:-1px;
  }
}
.app-user-header{
  padding:0 20px;
  --tw-shadow:0 4px 3px -1px rgb(0 0 0 / 0.1), 0 2px 0px -2px rgb(0 0 0 / 0.1);
  .app-header-nav{
    flex-wrap:wrap;
  }
  .app-helper-menu{
    margin-left:auto;
    display:flex;
    .app-name{
      margin-left:10px;
    }
  }
  .header-dropdown-wrap{
    margin-right:10px;
    &:hover{
      cursor:pointer;
    }
  }
}
.app-user-main{
  margin-left:0;
  .article-item{
    border-bottom:1px solid #eee;
    h1{
      padding-right:15%;
    }
    .action{
      top:10px;
      right:10px;
      .ant-btn{
        &:last-child{
          margin-right:-14px;
        }
      }
    }
    &:last-child{
      border-bottom:none;
    }
    &:hover{
      background-color:#fafafa;
    }
    .anticon{
      svg{
        vertical-align:0px;
      }
    }
  }
}
.app-sider{
  background:transparent;
  .ant-menu{
    background:transparent;
    padding:0 12px;
  }
  .app-logo{
    height:60px;
    line-height:60px;
    overflow:hidden;
    text-align:center;
    background:#fff;
    .logo-wrap{
      position:relative;
      top:7px;
    }
    h1{
      display:inline-block;
      color:#fff;
      font-size:18px;
      text-align:center;
      font-weight:normal;
    }
  }
  .app-logo-on{
    overflow:hidden;
    text-align:center;
    .logo-wrap{
      width:50px;
      height:50px;
      overflow:hidden;
      margin-left:10px;
    }
  }
  .app-sider-menu{
    padding-top:15px;
  }
}
.app-hamburger{
  font-size:20px;
  line-height:60px;
  cursor:pointer;
  .anticon{
    vertical-align:-1px;
  }
}
.app-sider-write{
  margin:0 !important;
  .ant-btn{
    width:100%;
    border-radius:3px;
  }
}
.app-sider-on{
  .app-sider-write{
    display:none;
  }
}
.app-menu-inner{
  .ant-menu-item{
    line-height:48px;
    height:48px;
    margin:0;
  }
  .ant-menu-item-selected{
    background:#deebff;
    color:#1d7dfa;
    &:after{
      border-right:0;
    }
  }
}
.app-editor-header{
  background:#fff;
  line-height:60px;
}
.app-editor-popup{
  textarea, input{
    &::placeholder{
      font-size:14px;
    }
  }
}
@media (max-width:1280px){
  .app-tiny-wrap{
    padding-left:20px;
    padding-right:20px;
  }
}
.bytemd{
  height:calc(100vh - 130px) !important;
}
// article action
.app-blog-action{
  position:fixed;
  margin-top:90px;
  margin-left:-5rem;
  z-index:2;
}
.app-blog-action .action-btn{
  width:48px;
  height:48px;
  margin-bottom:20px;
  background-color:#fff;
  display:flex;
  border-radius:50%;
  align-items:center;
  justify-content:center;
  cursor:pointer;
  position:relative;
  box-shadow:0 1px 4px -4px rgb(0 0 0 / 10%), 0 6px 16px 0 rgb(0 0 0 / 5%), 0 9px 28px 8px rgb(0 0 0 / 2%);
}
.app-blog-action .action-btn.ok svg{
  color:#1e80ff;
}
.app-blog-action .action-btn svg{
  font-size:20px;
  width:20px;
  height:20px;
  color:#8a919f;
}
.app-blog-action .action-btn > svg:hover{
  animation:headShake .5s linear 1;
}
.action-btn.with-badge:after{
  content:attr(data-badge);
  position:absolute;
  top:0;
  left:75%;
  height:17px;
  line-height:17px;
  padding:0 5px;
  border-radius:9px;
  font-size:11px;
  text-align:center;
  white-space:nowrap;
  background-color:var(--theme);
  color:#fff;
}
.action-share-popup{
  flex-direction:column;
  z-index:30;
  background:#fff;
  border-radius:4px;
  padding:9px 0;
  width:max-content;
  margin:-12px -16px;
}
.action-share-list{
  margin-bottom:0;
}
.action-share-popup .share-item{
  display:flex;
  align-items:center;
  width:115px;
  height:44px;
  padding:0 15px;
  cursor:pointer;
  svg{
    width:20px;
    height:20px;
    fill:#929eb8;
  }
  &:hover{
    color:#515767;
    svg{
      fill:#515767;
    }
  }
}
.action-share-popup .share-item:hover{
  background-color:#f2f3f5;
}
.action-share-popup .share-item .share-item-title{
  margin-left:8px;
  font-size:14px;
  color:#515767;
}
.wechat-qrcode{
  display:none;
  flex-direction:column;
  align-items:center;
  position:absolute;
  top:0;
  left:calc(100% + 8px);
  border-radius:4px;
  background-color:#fff;
  padding:10px 15px 10px;
  box-shadow:0 8px 24px rgba(81, 87, 103, .16);
}
.action-share-popup .share-item:hover.wechat .wechat-qrcode{
  display:flex;
}
.wechat-qrcode .wechat-qrcode-img{
}
.wechat-qrcode .wechat-qrcode-title{
  font-size:14px;
  line-height:22px;
  color:#515767;
  margin-top:8px;
}
.app-register-dialog{
  .ant-modal-body{
    padding:30px 50px 20px;
  }
}
.app-user-setting-model{
  padding:0;
}
.upload-image{
  width:200px;
  height:200px;
  display:flex;
  justify-content:center;
  align-items:center;
  cursor:pointer;
  position:relative;
  // transition: opacity .3s;
  .ant-image{
    height:150px;
    overflow:hidden;
  }
  img{
    width:100%;
    height:100%;
  }
  .upload-image-mask{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#fff;
    background:rgba(0, 0, 0, .5);
    cursor:pointer;
    opacity:0;
    transition:opacity .3s;
    .del-icon{
      position:absolute;
    }
  }
}
.thumb-space{
  .ant-space-item{
    text-align:center;
  }
}
.app-upload-wrap{
  width:200px;
  height:200px;
  border:1px dashed #ccc;
  font-size:30px;
  border-radius:5px;
  color:#ccc;
  &:hover{
    border-color:#1890ff;
  }
}
.app-setting-list{
  li{
    display:flex;
    align-items:center;
    padding:2rem 0;
    border-bottom:1px solid #f1f1f1;
    .title{
      font-size:1rem;
      color:#333;
      width:10rem;
    }
    .input-box{
      flex:1 1 auto;
      display:flex;
      width:100%;
    }
    .account{
      flex:1 1 auto;
      font-size:1.167rem;
      color:#909090;
    }
    .action-box{
      margin-left:1rem;
    }
  }
}
.app-editor-user{
  padding-left:10px;
  > *{
    margin-right:20px;
  }
  .ant-dropdown-trigger{
    cursor:pointer;
  }
}
.app-tiny-wrap{
  .bytemd{
    height:calc(100vh - 65px) !important;
  }
}
.app-editor-drawer{
  .ant-drawer-body{
    padding:10px 10px;
  }
  .ant-collapse-content-box{
    .ant-form-item{
      &:last-child{
        margin-bottom:0;
      }
    }
  }
}
.app-id-container{
  .app-page-bg{
    &:first-child{
      min-height:calc(100vh - 135px);
    }
  }
}
.app-tags-model{
  a{
    color:#fff;
    opacity:0.6;
    &:hover{
      color:#ff0;
      opacity:1;
    }
  }
}
.app-home-empty{
  min-height:calc(100vh - 190px);
}
.app-hero-empty{
  min-height:calc(100vh - 290px);
}
.app-not-found{
  padding-top:20%;
}
.useinfo-word{
  min-height:58px;
  .sub{
    line-height:20px;
    margin-bottom:0;
    @include ellipsisNum(2);
  }
}
.app-change-editor{
  .ant-tooltip-inner{
    padding:10px 12px;
    color:#333;
  }
}
.app-editor-pen-icon{
  position:relative;
  top:3px;
}
.col-applist-item{
  .app-icon{
    width:120px;
    height:120px;
    border-radius: 10px;
    color: #fff;
    font-size:40px;
    line-height:120px;
    text-align:center;
    transition: all .2s ease-in-out;
    &:hover{
      transform: scale(1.15);
    }
  }
  .item-url{
    .title{
      padding:10px 0 0px;
      font-size:16px;
      font-weight:bold;
    }
    .desc{
      font-size:14px;
      color: #999;
    }
  }
}
